<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Public JS AND CSS libraries -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <!-- Public JS AND CSS libraries -->
        <link href="/static/css/main.css" rel="stylesheet" type= "text/css">
        <script src="/static/js/main.js" ></script>
        {% block libraries %}{% endblock %}
    </head>

    <body>
        {% block content %}
        {% endblock %}   
    </body>

</html>